.hero {
  margin-bottom: 10em;
  p {
    color: var(--pryColor);
  }
  h2 {
    // width: 100%;
    color: var(--lightGrey);
    line-height: 1.2em;
    font-size: var(--fontBig);
    transition: all 0.5s ease-in;

    &:hover {
      color: transparent;
      -webkit-text-stroke: var(--pryColor) 2px;
      transform: scale(1.1);
      box-shadow: var(--shadow);
    }

    @media screen and (min-width: 768px) {
      width: 80%;
      font-size: var(--fontSuperBig);
    }
  }

  .desc {
    color: var(--lightGrey);
    font-size: 1rem;
    font-weight: 100;

    @media screen and (min-width: 768px) {
      width: 60%;
      font-size: 1.5rem;
    }
  }
}
