.Experience {
  .tabsContainer {
    // border-left: solid 5px var(--grey);

    cursor: pointer;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--grey);
      border-radius: 10px;
      background-clip: content-box;
    }

    .tabTitle {
      h4 {
        font-weight: 400;
        font-size: 1.5rem;
        padding: 0.3em 0;
        margin-left: 0.5em;
        white-space: nowrap;
      }

      &:hover {
        color: var(--pryColor);
        background-color: var(--hover);
        transition: all 0.6s ease-in-out;
      }
      .active {
        display: flex;
        flex-direction: row;
        color: var(--pryColor);
        border-left: solid 5px var(--pryColor);
        transition: all 0.6s ease-in-out;
      }
      .notActive {
        display: flex;
        flex-direction: row;
        color: var(--grey);
        border-left: solid 5px var(--Grey);
        transition: all 0.6s ease-in-out;
      }
    }

    @media screen and (max-width: 900px) {
      .tabTitle {
        h4 {
          font-size: 1em;
          padding: 0.3em auto;
        }
        .active {
          justify-content: center;
          align-items: center;
          color: var(--pryColor);
          border-left: none;
          border-bottom: solid 5px var(--pryColor);
          transition: all 0.6s ease-in-out;
        }
        .notActive {
          justify-content: center;
          align-items: center;
          color: var(--grey);
          border-left: none;
          border-bottom: solid 5px var(--Grey);
          transition: all 0.6s ease-in-out;
        }
      }
    }
  }

  margin-bottom: 10em;
  .icons {
    // font-size: 2rem;

    margin-bottom: 2em;

    img {
      width: 20%;
      padding: 0.5em;
      margin-top: 0.7em;

      // &:nth-child(1) {
      //   padding-left: 0;
      // }

      @media screen and (min-width: 768px) {
        width: 10%;
      }
    }
  }
}

.wolf {
  h4 {
    font-weight: 400;
  }

  p {
    color: var(--lightGrey);

    li {
      margin-bottom: 0.5em;
      list-style: none;
    }

    li:before {
      content: "\10126";
      color: var(--pryColor);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  small,
  mark {
    background-color: transparent;
    color: var(--lightGrey);
    padding: 0;
  }

  @media screen and (max-width: 900px) {
    margin-top: 2em;
  }
}
