:root {
  --mainColor: #001707;
  --secColor: #013d13;
  --pryColor: #44d7a8;
  --grey: #5d7b5f;
  --Grey: #114c2436;
  --lightGrey: #ccd6f6;
  --hover: #013d1327;
  --fontSuperBig: 3.5rem;
  --fontBig: 2.5rem;
  --fontMed: 1.8rem;
  --fontSmall: 1rem;

  --shadow: 0px 24px 48px rgba(27, 44, 193, 0.1);
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--mainColor);
  color: var(--pryColor);
  font-size: 16px;
  counter-reset: section;
}

/* ====General fonts styles=== */

h2 {
  font-size: var(--fontSuperBig);
  font-weight: 700;
}
h3 {
  font-size: var(--fontBig);
  font-weight: 500;
}

h4 {
  font-size: var(--fontMed);
  font-weight: 500;
}

p {
  font-size: var(--fontSmall);
  font-weight: 400;
  color: var(--lightGrey);
}

a {
  text-decoration: none;
}

/* ====General Button styles=== */

.Btn {
  border: solid 2px var(--pryColor);
  color: var(--pryColor);
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.Btn:hover {
  border: solid 2px var(--pryColor);
  box-shadow: 0px 24px 48px rgba(27, 44, 193, 0.1);
  transform: scale(1.1);
}

/* ===General Image Animation=== */
img {
  transition: all 0.3s;
  animation: animateallPic 0.5s;
}

img:hover {
  opacity: 0.8;
}

@keyframes animateallPic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--pryColor);
}

.sectionHeader {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  -webkit-box-align: center;
}

.sectionHeader h4 {
  /* width: 100%; */
  font-size: clamp(24px, 5vw, var(--fontMed));
  white-space: nowrap;
}

.sectionHeader:after {
  content: "";
  /* display: block; */
  height: 1px;
  width: 100%;
  /* position: absolute; */
  /* top: 60%;
  left: 300px; */
  background-color: var(--grey);
  margin-left: 1em;
}
/* @media screen and (max-width: 500px) {
  top: 90%;
  left: 100px;
} */

.sectionHeader:before {
  counter-increment: section;
  content: "0" counter(section) ".";
  color: var(--lightGrey);
  margin-right: 1em;
}

@media screen and (max-width: 700px) {
  .sectionHeader h4 {
    width: 100%;
  }
}
