
:root {
  --mainColor: #001707;
  --secColor: #01220b;
  --pryColor: #44D7A8;
  --grey: #8892b0;
  --lightGrey: #ccd6f6;
  /* --secColor: #08FF08; */
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;

  --shadow: 0px 24px 48px rgba(27, 44, 193, 0.1);
  
}

*, 
*::after, 
*::before{
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
      box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  
}


body{
  margin: 0 auto;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--mainColor);
  color: var(--pryColor);
 
}

/* ====General fonts styles=== */

h2{
    font-size: var(--fontSuperBig);
    font-weight: 700;
    
}
h3{
    font-size:var(--fontBig);
    font-weight: 500;
        
}

h4{
  font-size: var(--fontMed);
  font-weight: 500;
       
}

p{
    font-size: var(--fontSmall);
    font-weight: 400;
    
}

a{
  text-decoration: none;
}



/* ====General Button styles=== */

.Btn{
  border: solid 2px var(--pryColor);
  color: var(--pryColor);
  background-color: transparent;
  border-radius: 5px;
  padding: .5em 1em;
}

.Btn:hover{
  border: solid 2px var(--pryColor);
  box-shadow: 0px 24px 48px rgba(27, 44, 193, 0.1);
  transform: scale(1.1);
}

/* ===General Image Animation=== */
img{
  transition: all 0.3s;
  animation: animateallPic 0.5s;
  
}

img:hover {
  opacity: 0.8;
}

@keyframes animateallPic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--pryColor)
}

